
body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#calculator{
    background-color: hsl(0, 0%, 0%);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3%;
    overflow: hidden;
    padding: 1rem;
    width: min(320px,90vw);
}
#display {
    width: 100%;
    height: 10dvh;
    border-radius: .5rem;
    font-size: clamp(1rem,3vw,5rem);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: none;
    color: rgb(255, 250, 250);
    background-color: hsl(0, 4%, 43%);
    overflow: auto;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5rem;
    padding: 1rem 0 0 0;  
}
button{
    width: 100%;
    height: 11vh;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    font-size: clamp(.7rem,4vw,2rem);
    font-weight: bold;
    color: rgb(249, 238, 238);
    cursor: pointer;
}
.color{
    background-color: rgb(255, 111, 0);
}
button:hover{
    background-color: hsl(0, 3%, 38%);
}
button:active{
    background-color: hsl(0, 0%, 20%);
    box-shadow: 0px 4px 10px 3px hsl(0, 88%, 41%)
}
.color:hover{
    background-color: rgb(215, 142, 87);
}
.color:active{
    background-color: rgb(255, 60, 0);
}

